/*   logo_green 		#83C084 */
/*   logo_green_darker_2 	#699A6A */
/*   logo_green_darker_4 	#4F734F */
/*   logo_peach			#EBAB7D or #E9AA81*/
/*	 logo_blue			#807FFF */
/*	 logo_blue_green			#4165B9 */

html, .container { 
	height: 100%; 
	font-color: #FFFFFF; 
	margin: 0; 
	padding: 0;
	}
   
body > .container { 
	height: auto; 
	min-height: 100%; 
	margin: 0; 
	padding: 0;
    }

wrapper {
	position:relative;	/* This fixes the IE7 overflow hidden bug */
	clear:both;
	float:left;
	width:100%;			/* width of whole page */
	overflow:hidden;		/* This chops off any overhanging divs */
	}



body {
    height: 100%; 
    margin:0;
	padding:0;
	width:100%;
	border:0;			/* This removes the border around the viewport in old versions of IE */
	min-width:600px;    	/* Minimum width of layout - remove line if not required */
					/* The min-width property does not work in old versions of Internet Explorer */
	font-size:90%;
    font-family: helvetica;
    color: #4F734F;
    background-color: #4062C3;
    }

.logoANDtagline {
    padding-left: 1.0416667%;
    padding-top: 0.52083335%;
    border-style: solid;
    border-width: 0.52083335%;
    border-color: #FFFFFF;
    background-color: #FFFFFF;
    margin-top: 3%;
    margin-left: 3%;
    margin-right: 3%;
    margin-bottom: 0/*1.1%*/;
    -moz-border-radius: 7px;
    border-radius: 7px;}
    
h1 {
    color: #EBAB7D;
    padding-left: 9px;
    padding-top: 0;
    margin-top: 0px;
    margin-right: 3%;
    font-size: 100%;
    font-family: helvetica;}

h2 {
    color: #EBAB7D;
    padding-left: 76px;
    padding-bottom: 0px;
    margin-top: 0px;
    margin-right: 3%;
    margin-bottom: 0px;
    font-size: 100%;
    font-family: helvetica;}

h3 {color: #699A6A;
    font-size: 175%;
    font-family: helvetica;}

h4 {
    color: #699A6A;
    font-family:verdana, helvetica;
  	font-weight:normal;
  	font-style: italic;
  	letter-spacing: .1em;
    word-spacing: normal;
    line-height: 1.25;}

h6 {
	color: #699A6A;
    font-family:verdana, helvetica;
  	font-weight:normal;
  	font-style: italic;
  	letter-spacing: .1em;
    word-spacing: normal;
    line-height: 1.5;
    text-align: left;
    padding-top: 0px;}

    
ul li { 
    display: inline;
    padding: 0 1em 0 0;
    list-style-type: none;
    font-family:verdana, helvetica;
  	font-weight:heavy;
  	font-size: 110%;
  	letter-spacing: .1em;
    word-spacing: normal;
    }

li a { 
	color: #FFF;
	text-decoration: none;
    /*display: inline;*/
    padding: 0 1em 0 1.25em;
    }

li a:hover {
	padding: 0 1em 0 1.25em;
    color: #EBAB7D;}

/*special span of third_left h2*/
.italic {font-weight:200;
  	font-style: italic;
  	letter-spacing: .05em;
    word-spacing: normal;
    line-height: 1.5;}  
    
.green {line-height: 1.5;}

.blue {color: #4165B9;
	line-height: 1.5;}

.peach {color: #E9AA81;
	line-height: 1.5;}

/* About: Brief blurb & Contact: Greeting */
.left_third {
    float: left;
    width: 28.42222213333333%;
   	min-height: 460px;
    padding-left: 1.56250005%;
    padding-right: 1.56250005%;
    padding-top: 0;
    border-style: solid;
    border-width: 0.52083335%;
    border-color: #FFFFFF;
    background-color: #FFFFFF;
    margin-top: 0;
    margin-left: 3%;
    margin-right: 0;
    margin-bottom: 0;
    -moz-border-radius: 7px;
    border-radius: 7px;}
    
/* About: Extended about section & Contact: Form section*/
.right_twothird {
    float: right;
    width: 56.64444426666666%;
   	min-height: 460px;
    padding-left: 1.56250005%;
    padding-right: 1.56250005%;
    padding-top: 0;
    border-style: solid;
    border-width: 0.52083335%;
    border-color: #FFFFFF;
    background-color: #FFFFFF;
    margin-top: 0;
    margin-left: .6%;
    margin-right: 3%;
    margin-bottom: 0px;
    -moz-border-radius: 7px;
    border-radius: 7px;}

/* Tool: Section to paste text for analysis */
.left_twothird {
    float: left;
    width: 56.64444426666666%;
    min-height: 460px;
    padding: 1.56250005%;
    padding-top: 0;
    padding-bottom: 0;
    border-style: solid;
    border-width: 0.52083335%;
    border-color: #FFFFFF;
    background-color: #FFFFFF;
    margin-top: 0;
    margin-left: 3%;
    margin-right: 0;
    margin-bottom: 0px;
    -moz-border-radius: 7px;
    border-radius: 7px;}

/* Tool: Section to display analysis */
.right_third {
    float: right;
    width: 28.42222213333333%;
    min-height: 460px;
    padding: 1.56250005%;
    padding-top: 0;
    padding-bottom: 0;
    border-style: solid;
    border-width: 0.52083335%;
    border-color: #FFFFFF;
    background-color: #FFFFFF;
    margin-top: 0;
    margin-left:.6%;
    margin-right: 3%;
    margin-bottom: 0;
    -moz-border-radius: 7px;
    border-radius: 7px;}

/* Footer */
.footer {
 clear: both;
 position: relative;
 z-index: 10;
 height: 2em;
 margin-top: -3em;
 color: #FFFFFF;
 font-size: .75em;
 font-type: serif;
 padding-top: 1.56250005%;
 padding-left: 1.56250005%;
 text-align: center;
 border-style: solid;
 border-width: 0.52083335%;
 border-color: #203162;
 background-color: #203162;
 margin-top: 3%;
 margin-left:.0%;
 margin-right: 0;
 margin-bottom: 0;
   }
   
   
   /*Tool: menu (to be replaced with an unordered, horizontal list)
.menu {
    color: #FFFFFF;
    rollover-color: #E9AA81;
    padding: 1.56250005%;
    border-style: solid;
    border-width: 0.52083335%;
    border-color: #4062C3;
    background-color: #4062C3;
    margin-left: 3%;
    margin-right: 3%;
    margin-top: 0;
    margin-bottom: 0;
    }  */
